@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color: var(--second--bg-color);
    transform: scale(1.02);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background :rgb(238, 252, 254);
}

.logo .form .center h1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.form .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-40%);
        height: 600px;
        width: 600px;
		margin-top: -40px;
        padding: 30px 30px;
        background-color: #ffffff;
        box-shadow: 2px 2px 5px 5px rgba(0,0,0,0,15);
        border-radius: 10px;
        margin-bottom: 80px;
}

.wrapper{
	background: url(PUBG.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.navbar{
	height: 80px;
	width: 100%;
	background :rgb(238, 252, 254);
}

.navbar .logoo{
    padding-left: 20px;
    width: 100px;
    height: 80px;
}
.logo{
    width:580px;
    height: 350;
    margin-left: -20px;
}

.navbar ul{
    float: right;
    margin-right: 20px;

}

.navbar ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 1rem;
    transition: .3s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    color: rgb(68,188,216,4);
}

.wrapper .center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	user-select: none;
}

.center h1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(42,82,190);
	font-size: 50px;
	font-weight: bold;
	width: 600px;
	text-align: center;
}

.center h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(15, 83, 241);
	font-size: 50px;
	font-weight: bold;
	width: 600px;
	margin-top: 10px;
	margin-left: -10px;
	text-align: center;
}
.center h4{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(15, 83, 241);
	font-size: 20px;
	font-weight: bold;
	width: 600px;
	margin-top: 10px;
	margin-left: -10px;
	text-align: center;
}

li {
	font-size: 14px;
}
.rank li{
	width: 600px;
	margin-left: 15px;
	font-size: 16px
}
.form-element button{
    width: 300px;
	margin-left: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background: rgb(122, 219, 238);
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
  }
  .dropbtn {
    background-color: #d2ddef;
    color: rgb(7, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 450px;
    margin-right: -15px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color :rgb(238, 252, 254);
  }

  h2{
    font-size: 60px;
  }

.center .back {
    text-align: right;
    margin-top: 100px;
  }
